.textarea {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;

    color: #fff;
    font-family: Cygre Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    padding: 10px;
    resize: none;

    &::selection {
        background: #e70053;
    }
}