* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@font-face {
    font-family: 'Cygre';
    src: url('../public/font/Cygre-Medium.eot');
    src: url('../public/font/Cygre-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/font/Cygre-Medium.woff2') format('woff2'),
        url('../public/font/Cygre-Medium.woff') format('woff'),
        url('../public/font/Cygre-Medium.ttf') format('truetype'),
        url('../public/font/Cygre-Medium.svg#Cygre-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cygre';
    src: url('../public/font/Cygre-SemiBold.eot');
    src: url('../public/font/Cygre-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../public/font/Cygre-SemiBold.woff2') format('woff2'),
        url('../public/font/Cygre-SemiBold.woff') format('woff'),
        url('../public/font/Cygre-SemiBold.ttf') format('truetype'),
        url('../public/font/Cygre-SemiBold.svg#Cygre-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

